// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import './function.scss';

$tablet-size: 1000px;
$list-show-bg: #fffaf6;
$header-hight: 56px;
$theme-color-darkgray: #333;
$theme-color-disabled-color: #efefef;
$theme-color-blue: #001f3f;
$theme-color-orange: #d97513;