<ion-content fullscreen="true">
  <app-header *ngIf="!this.glb.isMobil.value"></app-header>
  <div id="not-header-search-page">
    <app-sub-header [previousUrl]="['user-management']" [title]="'User Info' |translate"></app-sub-header>
    <form class="form" [formGroup]="form">
      <app-input [label]="'Name' |translate" [placeholder]="'Name' |translate" formControlName="firstName"></app-input>
      <div class="label-error" *ngIf="hasError('firstName','required')">{{'Required' |translate}}</div>

      <app-input [label]="'Surname' |translate" [placeholder]="'Surname' |translate"
        formControlName="lastName"></app-input>
      <div class="label-error" *ngIf="hasError('lastName','required')">{{'Required' |translate}}</div>

      <app-input [label]="'Email' |translate" [placeholder]="'Email' |translate" formControlName="email"
        [type]="'email'" [disabled]="true"></app-input>

      <app-input [label]="'Account Creation Date' |translate" [placeholder]="'Account Creation Date' |translate"
        formControlName="createdOnUtc" [disabled]="true"></app-input>
      <app-btn-submit [text]="'Save' | translate" class="mt-3" (click)="submitForm()"></app-btn-submit>
      <div class="another-info">
        @if(!this.userStore.customerUserDto$().isActivationApprove){
        <div class="verify-row" (click)="verifyAccount()">
          {{'Verify Mail Send' |translate}}
        </div>
        }
      </div>
    </form>
  </div>
  @if (!glb.isMobil.value) {
  <app-footer></app-footer>
  }
  @else {
  <app-mobile-footer></app-mobile-footer>
  }
</ion-content>