@import '../../../theme/styles.scss';

.checkbox-wrapper {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    vertical-align: middle;
    height: 16px;

    .checkbox-container {
        position: relative;
        cursor: pointer;
        font-size: 22px;
        width: 20px;
        height: 16px;


        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
                &~.checkmark {
                    background-color: white;

                    &:after {
                        display: block;
                    }
                }
            }
        }

        .checkmark {
            border: 1px solid $header-bottom-bg;

            &:after {
                left: 5px;
                top: 1px;
                width: 3px;
                height: 8px;
                border: solid $header-bottom-bg;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 17px;
    background-color: white;
    border: 1px solid $header-bottom-bg;
    border-radius: 3px;

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}