@import '../../../../../theme/styles.scss';
$product-tabs-border: 1px solid #dadada;

#product-detail {
    min-height: 70%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    .product {
        display: flex;
        justify-content: flex-start;
        box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.02),
            0 -2px 4px rgba(0, 0, 0, 0.02);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 8px 0 rgba(51, 51, 51, .16);

        .photo {
            position: relative;
            width: 40%;

            .favorite-button {
                position: absolute;
                top: 10px;
                right: 10px
            }
        }

        .info {
            width: 60%;
            margin-left: 20px;

            .product-price {
                margin-top: 20px;
                display: flex;
                align-items: center;
                font-weight: 500;

                .total-price {
                    font-size: 26px;
                    font-weight: 600;
                    color: $theme-color-orange;
                }

                .price-without-discount {
                    margin-right: 12px;
                    font-size: 16px;
                    text-decoration: line-through;
                }
            }

            .add-basket {}

            .product-title {
                font-size: 22px;

                .brand-name {
                    font-weight: 600;
                    margin-right: 10px;
                    color: $theme-color-orange;
                }
            }

            .comment-rate {
                margin-top: 15px;
            }
        }
    }
}

.fixTap {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: $fix-tap-height;
    text-align: center;
    background-color: white;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 140px 7px rgba(0, 0, 0, 0.1);
    z-index: 99999999;

}