@import '../../../theme/variables.scss';


ion-content {
    --offset-bottom: 0%;

    @media screen and (max-width:$tablet-size) {
        --offset-bottom: -8% !important;
    }
}

.row-list {
    margin-top: 50px;

    @media screen and (max-width:$tablet-size) {
        margin: 30px 2% 0% 12px;
    }

    .user-management-row {
        margin-top: 12px;
        border-radius: 4px;
        // background-color: lighten($color: $header-bottom-bg, $amount: 16);
        border: 1px solid $header-bottom-bg;
        width: 70%;
        height: 40px;
        align-items: center;
        vertical-align: middle;
        display: flex;
        text-align: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width:$tablet-size) {
            width: 98%;
        }

        a {
            color: black;
            font-size: 14px;
        }
    }

    .row-logout {
        margin-top: 15px;
        border-radius: 4px;
        width: 70%;
        height: 40px;
        align-items: center;
        vertical-align: middle;
        display: flex;
        text-align: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: $theme-color-danger;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;

        @media screen and (max-width:$tablet-size) {
            width: 98%;
            height: 34px;
        }

        a {
            color: white;
            font-size: 14px;
        }
    }
}