<div class="slider-page">
  <div class="slider-container">
    <div class="slider-wrapper" [style.transform]="transformStyle" #sliderWrapper>
      <ng-container *ngFor="let slider of this.homeStore.sliders$(); let i = index">
        <div class="slide" [class.active]="i === currentIndex">
          <img [src]="slider.imageUrl">
          <div class="slider-info">
            <div class="header">{{ slider.sliderHeading }}</div>
            <div class="text">{{ slider.sliderText }}</div>
            <a class="btn" [href]="slider.sliderLink"> {{ 'Go Page' | translate }}</a>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="next-prev-wrapper" *ngIf="!this.glb.isMobil.getValue()">
      <div class="prev" (click)="goPrev()">&#10094;</div>
      <div class="next" (click)="goNext()">&#10095;</div>
    </div>
  </div>
</div>