<swiper-container #swiper [loop]="true" [pagination]="true" [zoom]="true" (swiperinit)="swiperInit()">
  <swiper-slide *ngFor="let slider of homeStore.sliders$()">
    <div class="swiper-zoom-container">
      <img [src]="slider.sliderImage" />
      <div class="slider-info">
        <div class="header">{{slider.sliderHeading}}</div>
        <div class="text">{{slider.sliderText}}</div>
        <div class="btn"><a href="{{slider.sliderLink}}">{{ 'Go Page'|translate}}</a></div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>