 @import '../../../theme/styles.scss';

 .col-md-4 {
     width: (100% / 12)*4;

 }

 .footer {
     margin-top: 50px;
     font-size: 14px;
     padding-top: 50px;
     padding-bottom: 40px;
     background-color: $footer-bg-color;
     width: 100%;
     min-height: 53%;

     .footer-container {
         justify-content: space-between;
         display: flex;
         max-width: $container-max-width;
         margin-left: auto;
         margin-right: auto;
         width: 80%;

         .description {
             color: white;
             display: flex;
             flex-direction: column;

             .social-text {
                 * {
                     color: white !important;
                 }

                 color: white !important;
             }

             .social {
                 color: white;
                 padding-top: 15px;

                 a {
                     color: white;
                     font-size: 20px;
                     padding-right: 7px;
                 }
             }
         }

         .links {
             display: flex;
             flex-direction: column;

             a {
                 color: white;
                 padding: 5px;
                 text-decoration: none;
             }
         }
     }



 }

 .copyright {
     border-top: 1px solid #ccc;
     padding-top: 5px;
     text-align: center;
     background-color: white;
 }