<div class="showcase-list">
  <div class="show-case-title">
    <h4>{{data.showCaseTitle}}</h4>
    <div class="all-show-text"><a href="">{{ "See All" |translate}}</a></div>
  </div>
  @for (product of data.showCaseProductList; track $index) {
  <div class="card">
    <div class="image">
      <img [src]="product.photoBase64" />
    </div>
    <div class="card-bottom">
      <div class="title">{{product.productName}}</div>
      <div class="price">
        <div class="price-without-discount" *ngIf="product.priceWithoutDiscount != product.price">
          {{product.priceWithoutDiscount}} {{product.currencyCode}}</div>
        <div class="total-price">{{product.price}} {{product.currencyCode}}</div>
      </div>
    </div>
    <div class="btn"><button type="button">{{ "Inspect Product" |translate}}</button></div>
  </div>
  }
</div>