<div class="tabs">
  <div class="tab-button">
    <div class="tab-header">
      <div class="title">{{'Product Content' |translate}}</div>
      <div class="see-all"></div>
    </div>
    <div class="tab-content">
      {{productStore.productDTO$().productContent}}
    </div>
  </div>
  <div class="tab-button">
    <div class="tab-header">
      <div class="title">{{'Product Specification' |translate}}</div>
      <div class="see-all">
        <i class="fa-solid fa-chevron-right"
          (click)="this.navController.navigateForward(this.slug+'/product-specification')"></i>
      </div>
    </div>
    <div class="tab-content"></div>

  </div>
  <div class="tab-button">
    <div class="tab-header">
      <div class="title">{{'Question-Answer' |translate}}</div>
      <div class="see-all"><i class="fa-solid fa-chevron-right"
          (click)="this.navController.navigateForward('product-question-answer')"></i></div>
    </div>
    <div class="tab-content"></div>

  </div>
  <div class="tab-button">
    <div class="tab-header">
      <div class="title">{{'Comments' |translate}}</div>
      <div class="see-all"><i class="fa-solid fa-chevron-right"
          (click)="this.navController.navigateForward('product-comments')"></i></div>
    </div>
    <div class="tab-content"></div>
  </div>
</div>