<app-header [title]="title |translate" [backButton]="true"></app-header>
<div id="page">
  <form [formGroup]="speficationAttributeForm" id="form-70-center">
    <app-input [label]="'Name' |translate" [placeholder]="'Name' |translate" formControlName="name"></app-input>
    <div class="label-error" *ngIf="hasErrorSpeficationAttributeForm('name','required')">{{'Required' |translate}}</div>
    <app-btn-submit [text]="'Save' | translate" class="mt-3" (click)="saveSpecificationAttribute()"></app-btn-submit>
  </form>

  @if(specificationAttributeId){
  <div id="form-70-center">
    <div class="title">{{'Specification Attribute Option Add' |translate}}</div>
    <app-create-or-update-specification-attribute-option [specificationAttributeId]="specificationAttributeId"
      [specificationAttributeId]="specificationAttributeId"></app-create-or-update-specification-attribute-option>
    <div class="mt-5">
      <app-specification-attribute-option-list></app-specification-attribute-option-list>
    </div>
  </div>
  }
</div>