 @import '../../../theme/variables.scss';

 ion-toolbar {
     padding: 0px 4%;

     ion-title {
         text-align: center;
         font-size: 14px;
     }
 }


 .previousbtn {
     cursor: pointer;
     background-color: transparent;

     &::before {
         content: '<';
         color: #333;
         margin-right: 5px;
         font-size: 30px;
     }
 }

 ion-header {
     height: $header-hight;
 }

 ion-menu {
     .ion-padding {
         .right-menu {
             display: flex;
             flex-direction: column;

             a {
                 padding: 3px;
                 width: 100%;

                 &:hover {}

                 &:active {}

                 &:focus {}
             }
         }
     }

 }