// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import './function.scss';

$header-height: 181px;
$header-middle-height: 110px;
$header-mobile-middle-height: 12%;
$header-bg-color: white;
$tablet-size: 1000px;
$list-show-bg: #fffaf6;
$header-bottom-bg: #333;
$theme-color-orange: #d97513;
$footer-bg-color: #333;
$fix-tap-height: 8%;