@import '../../../theme/variables.scss';

ion-segment {
    margin-bottom: 20px;
}

.segment-button-disabled {
    opacity: 1;
}

ion-segment-button {
    --indicator-color: #{$theme-color-blue};
    height: 28px;
    font-size: 14px;

    &.segment-button-checked {
        ion-label {
            color: white;
        }
    }
}