<div class="fixTap">
  <div class="tap"><i routerLink="" class="fa-solid fa-house"></i></div>
  <div class="tap"><i class="fa-solid fa-cart-shopping" id="shoppingIcon"></i></div>
  <div class="tap"><i routerLink="favorites" class="fa-solid fa-heart"></i></div>
  <div class="tap">
    @if(userService.isLogin()){
    <a (click)="this.navController.navigateForward('user-management')"><i class="fa-solid fa-user"
        id="shoppingIcon"></i></a>
    }
    @else {
    <a (click)="this.navController.navigateForward('login')"><i class="fa-solid fa-user" id="shoppingIcon"></i></a>
    }
  </div>
</div>