@import '../../../theme/styles.scss';

#home-page {
    min-height: 70%;
    background-color: $theme-bg-color;
    padding-bottom: 50px;

    @media screen and (max-width:$tablet-size) {
        min-height: 100%;
        margin-top: $header-mobile-middle-height;
        padding-bottom: 65px;
    }
}