<app-header [title]="'Login'" [backButton]="true"></app-header>
<div id="page">
  <form [formGroup]="form" id="form-70-center">
    <div class=" row mt-2">
      <app-input [label]="'Email' |translate" [placeholder]="'Email' |translate" formControlName="email"></app-input>
      <div class="label-error" *ngIf="hasError('email','required')">{{'Required' |translate}}</div>
      <div class="label-error" *ngIf="hasError('email','email')">{{'This is not an email address' |translate}}</div>
    </div>
    <div class="row mt-2">
      <app-input [label]="'Password' |translate" [placeholder]="'Password' |translate" formControlName="password"
        [type]="'password'"></app-input>
      <div class="label-error" *ngIf="hasError('password','required')">{{'Required' |translate}}</div>
    </div>
    <div class="row mt-3">
      <app-btn-submit [text]="'Login' | translate" (click)="login()"></app-btn-submit>
    </div>
  </form>
</div>