@import '../../../theme/variables.scss';

// ion-content {
//     --padding-end: 10px;
//     --padding-start: 10px;
// }
.container {
    padding-left: 10px;
    padding-right: 10px;
}

ion-title {
    text-align: center;

}

ion-content::part(scroll)::-webkit-scrollbar {
    width: 5px;
}

ion-content::part(scroll)::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

ion-content::part(scroll)::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

ion-content::-webkit-scrollbar {
    display: none;
    width: 0;
}

.search-input {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #333;
    font-size: 13px;
    padding: 8px;
    width: 100%;
    margin: 19px 0 3px;
}

.selectbox-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    height: 38px;
    width: 100%;
    margin-top: 12px;

    .input {
        color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $header-bottom-bg;
        font-size: 12px;
        padding-left: 8px;
        padding-top: 12px;
    }

    .label {
        font-weight: bold;
        padding-top: 3px;
        padding-left: 8px;
        font-size: 9px;
        z-index: 1;
        color: black;
        position: absolute;
    }

    .mark {
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        height: 100%;
        right: 5px;
        background-color: transparent;
        position: absolute;
    }
}

.sub-header {
    z-index: 1;
    position: relative;
    padding: 3% 3%;
    background-color: white;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width:$tablet-size) {
        border: none;
        padding: 4% 5%;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .title {
        font-weight: 600;
        text-align: center;
        font-size: 18px;

        @media screen and (max-width:$tablet-size) {
            margin-bottom: 0px;
        }
    }

    .closeBtn {
        position: absolute;
        cursor: pointer;
        background-color: transparent;

        &::before {
            content: 'x';
            color: #333;
            margin-right: 5px;
            font-size: 26px;
            font-weight: 600;

            @media screen and (max-width:$tablet-size) {
                font-size: 22px;
            }
        }
    }
}

.no-more-data {
    margin-top: 20px;
    letter-spacing: 1px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    font-size: 14px;

    @media screen and (max-width:$tablet-size) {
        font-size: 12px;
    }
}