<div class="main-content">


  <!-- Seçili Filter Başla -->
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let filterModel of filterList">
      <span class="badge-danger" style="font-size: 14px">{{
        filterModel.andOrOperation
        }}</span>
      <span class="badge-dark" style="font-size: 14px" (click)="deleteFilter(filterModel)">
        {{ changeFilterName(filterModel)}}
        <span aria-hidden="true" style="color: red">&times;</span>
      </span>
    </ng-container>
  </div>
  <!-- Seçili Filter Bitiş -->
  <!-- Filter Başla -->
  <form class="d-flex flex-wrap mt-2" id="filterContainer" [formGroup]="filterForm">
    <app-selectbox placeholder="{{ 'And|Or' | translate }}" label="{{ 'And|Or' | translate }}"
      [data]="['And' | translate ,'Or' | translate ]" formControlName="andOrOperation" class="col-md-1"
      *ngIf="filterList.length > 0" (change)="changeFilter()"></app-selectbox>
    <app-selectbox placeholder="{{ 'Select Filter Column' | translate }}"
      label="{{ 'Select Filter Column' | translate }}" [data]="keys" textProperty="propertyName"
      valueProperty="propertyName" formControlName="propertyName" class="col-md-3"
      (change)="changeFilter()"></app-selectbox>
    <app-selectbox placeholder="{{ 'Select Filter Column' | translate }}"
      label="{{ 'Select Filter Column' | translate }}" [data]="filters" textProperty="text" valueProperty="value"
      formControlName="filterType" class="col-md-3"></app-selectbox>
    <app-input class="col-md-3" formControlName="filterValue" placeholder="{{ 'Filter Value' | translate }}"
      label="{{ 'Filter Value' | translate }}"></app-input>
    <app-btn-submit (click)="addFilter()" [text]="'Add' | translate" class="col-md-1"></app-btn-submit>
  </form>
  <!-- Filter Bitiş -->
  <div class="table-responsive">
    <!-- Table Başla -->
    <table id="myCustomTable" class="mt-3 table">
      <thead>
        <tr>
          <ng-container *ngFor="let key of keys">
            <th *ngIf="key.checked == true" (click)="changeOrderBy(key.propertyName)">
              <div class="d-flex justify-content-between">
                <span>{{ key.propertyName | titlecase | translate}}</span>
              </div>
            </th>
          </ng-container>
          <ng-container *ngIf="btnColumnOn==true">
            <th></th>
            <th></th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of localData">
          <ng-container *ngFor="let datakey of keys">
            <td *ngIf="datakey.checked == true ">
              @if(data[datakey.propertyName]?.toString().startsWith('data:image/jpeg;base64')){
              <img [src]="data[datakey.propertyName]">
              }
              @else{
              {{ data[datakey.propertyName] }}
              }
            </td>
          </ng-container>
          <ng-container *ngIf="btnColumnOn==true">
            @if(this.addBtn.observed){
            <td style="width: 25px;">
              <a (click)="addBtn.emit(data)" class="cursor-pointer"><i class="far fa-plus"></i></a>
            </td>
            }@if(this.editBtnUrl){
            <td style="width: 25px;">
              <a [href]="'/'+editBtnUrl+data['id']" class="cursor-pointer"><i class="far fa-edit"></i></a>
            </td>}
            @if(this.deleteBtnUrl){
            <td style="width: 25px; ">
              <a (click)="deleteData(data['id'])" class="cursor-pointer"><i class="fas fa-trash-alt"></i></a>
            </td>
            }
          </ng-container>

        </tr>
      </tbody>
    </table>
    <!-- Table Bitiş -->
    <!-- Table Footer Başla -->
    <div class="tablefooter d-flex justify-content-between">
      <div class="pageSize d-flex">
        <select class="gridBottom" (change)="pageSizeChange($event)">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <div type="button" (click)="propertyModal()" id="modalBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns"
            viewBox="0 0 16 16">
            <path
              d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V2zm8.5 0v8H15V2H8.5zm0 9v3H15v-3H8.5zm-1-9H1v3h6.5V2zM1 14h6.5V6H1v8z" />
          </svg>
        </div>
      </div>

      <div class="goPage">
        <span class="mr-15">{{ gridPostData.pageIndex }}/{{ this.totalPages }}</span>
        <input type="text" [(ngModel)]="goToPageIndex" class="gridBottom goToPageTextBox" standolone="true" />
        <button type="button" class="gridBottom goToPageBtn" (click)="changePageIndex()">
          Go
        </button>
      </div>

      <div class="d-flex" id="prevNext">
        <div #prevBtn class="prev-btn" (click)="prevClick()" id="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
        <div #nextBtn class="next-btn" (click)="nextClick()" id="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
      </div>
    </div>
    <!-- Table Footer Bitiş -->
  </div>
</div>