@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800");
@import "../../../theme/styles.scss";

$grid-mobile-width: 800px;

.main-content {
    .goPage {
        display: flex;
        align-items: center;
    }

    .form-control {
        background-image: none !important;
    }

    #myCustomTable {
        border: 1px solid $theme-color-blue !important;
        font-family: Poppins;
        background-color: white;
        font-size: 14px;

        th {
            font-size: 15px;
            font-family: Poppins;
            padding: 15px;
        }

        tbody tr:hover {
            background-color: $theme-color-blue;
        }

        thead {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        td {
            padding: 15px;
            background-color: 1px solid rgba(0, 31, 63, 0.12);
        }
    }

    .prev-btn,
    .next-btn {
        font-size: 18px;
        border: 1px solid $theme-color-blue;
        color: $theme-color-blue;
        padding: 5px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }

    .tablefooter {
        margin-top: 10px;
        height: 40px;
    }

    .prevNextDisabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .gridBottom {
        border: 1px solid $theme-color-blue;
        padding: 0px 8px;
    }

    .goToPageBtn {
        background-color: white;
        border: 1px solid $theme-color-blue;
    }

    .goToPageTextBox {
        width: 40px;
    }

    .pageSize select {
        border-bottom-left-radius: 15px;
    }

    #modalBtn {
        border: 1px solid $theme-color-blue;
        padding: 8px 6px;
        display: flex;
        align-items: center;
    }

    #filterContainer {
        font-size: 14px;

        app-btn-submit {
            @media only screen and (max-width: $grid-mobile-width) {
                margin-top: 5px;
                width: 100%;
            }
        }

        app-input,
        app-selectbox {
            margin-right: 5px;

            @media only screen and (max-width: $grid-mobile-width) {
                margin-top: 5px;
                margin-right: 0px;
                width: 100%;
            }
        }
    }

    .noneCursor:hover {
        cursor: not-allowed;
    }
}

.badge-danger {
    font-size: 12px;
    color: white;
    background-color: red;
    padding: 5px;
}

.badge-dark {
    background-color: #e2e2e2;
    padding: 5px;
}

.mr-15 {
    margin-right: 15px;
}

img {
    max-height: 150px;
}