<ion-content fullscreen="true">
    <app-header *ngIf="!this.glb.isMobil.value"></app-header>
    <div id="not-header-page">
        <app-sub-header [previousUrl]="['home']" [title]="'Login' |translate"></app-sub-header>
        <form class="form" [formGroup]="form">
            <app-input [label]="'Email' |translate" [placeholder]="'EmailPlaceHolder' | translate"
                formControlName="email"></app-input>
            <div class="label-error" *ngIf="hasError('email','required')">{{'Required' |translate}}</div>

            <app-input [label]="'Password' |translate" [placeholder]="'PasswordPlaceholder'| translate"
                formControlName="password" [type]="passwordType.value" [id]="'password'"></app-input>
            <div class="label-error" *ngIf="hasError('password','required')">{{'Required' |translate}}</div>


            <div class="checkbox-wrapper">
                <app-checkbox [text]="'RememberMe'| translate" formControlName="rememberMe"></app-checkbox>
                <app-checkbox [text]="'ShowPassword'| translate" (change)="changePasswordType()"></app-checkbox>
            </div>

            <app-btn-submit (click)="saveForm()" [text]="'Login' |translate"></app-btn-submit>
            <div class="links">
                <a routerLink="/register">{{'Register' | translate}}</a>
                <a href="#">{{'ForgetPassword'| translate}}</a>
            </div>
        </form>
    </div>
    @if (!glb.isMobil.value) {
    <app-footer></app-footer>
    }
    @else {
    <app-mobile-footer></app-mobile-footer>
    }
</ion-content>