<ion-content fullscreen="true" [scrollEvents]="true">
  <app-header *ngIf="!this.glb.isMobil.value"></app-header>
  <div id="not-header-search-page">
    <app-sub-header [previousUrl]="''" [title]="'Showcase Detail' |translate"></app-sub-header>
    <div class="product-list">
      @for (product of this.showcaseStore.getHomeShowcaseDetailDTO$().data; track $index) {
      <div class="card" (click)="glb.navigateProductDetail(product.slug)">
        <div class="image">
          <img [src]="product.photoBase64" />
          <app-favorite-product-button class="favorite-button" [size]="15" [productId]="product.id"
            [favoriteId]="product.favoriteId"></app-favorite-product-button>
        </div>
        <div class="card-bottom">
          <div class="title"><span class="brandName">{{product.brandName}} </span>{{product.productName}}</div>
          <div class="comment-rate">
            <app-star-rating [value]="product.avgStarRate" [count]="product.commentCount"
              [starSize]="!this.glb.isMobil.value ? 15 : 12"></app-star-rating>
          </div>
          <div class="price">
            <div class="price-without-discount" *ngIf="product.priceWithoutDiscount != product.price">
              {{product.priceWithoutDiscount}}{{product.currencyCode}}</div>
            <div class="total-price">
              {{product.price ? product.price + ' ' + product.currencyCode : '&nbsp;'}}
            </div>
          </div>
        </div>
      </div>
      }
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" loadingSpinner="bubbles"
        [threshold]="!glb.isMobil.value ?'531px' : '8%'"
        [disabled]="pageIndex >= showcaseStore.getHomeShowcaseDetailDTO$().totalPages">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <div *ngIf="pageIndex >= showcaseStore.getHomeShowcaseDetailDTO$().totalPages" class="no-more-products">
        {{ 'No more products' | translate }}
      </div>
    </div>
  </div>
  @if (!glb.isMobil.value) {
  <app-footer></app-footer>
  }
  @else {
  <app-mobile-footer></app-mobile-footer>
  }
</ion-content>