<app-header [title]="title |translate" [backButton]="true"></app-header>
<div id="page">
    <form [formGroup]="form" id="form-70-center">
        <app-input [label]="'Brand Name' |translate" [placeholder]="'Brand Name' |translate"
            formControlName="brandName"></app-input>
        <div class="label-error" *ngIf="hasError('brandName','required')">{{'Required' |translate}}</div>
        <app-btn-submit [text]="'Save' | translate" class="mt-3" (click)="submitForm()"></app-btn-submit>
    </form>
</div>