<div class="show-cases">
  <div class="show-case-title">
    <h4>{{data.showCaseTitle}}</h4>
    <div class="all-show-text"><a href="">{{ "See All" |translate}}</a></div>
  </div>

  <swiper-container #swiper [zoom]="true" [slidesPerView]="glb.isMobil.value ? 2.5 : 5">
    <swiper-slide *ngFor="let product of data.showCaseProductList ">
      <div class="card">
        <div class="image">
          <img [src]="product!.photoBase64" />
        </div>
        <div class="card-bottom">
          <div class="title">{{product.productName}}</div>
          <div class="price">
            <div class="price-without-discount" *ngIf="product.priceWithoutDiscount != product.price">
              {{product.priceWithoutDiscount}} {{product.currencyCode}}</div>
            <div class="total-price">{{product.price}} {{product.currencyCode}}</div>
          </div>
        </div>
        <div class="btn">
          <button type="button" [routerLink]="['', product.slug]">{{ "Inspect Product"
            |translate}}</button>
        </div>

      </div>
    </swiper-slide>
  </swiper-container>
</div>