@import '../../../../../../../theme/variables.scss';

$card-bg-color: white;

.show-cases {
    border-radius: 15px;
    background-color: $card-bg-color;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $tablet-size) {
        padding: 10px;
        margin-left: 0%;
        margin-right: 0%;
    }

    .show-case-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        h4 {
            padding-bottom: 20px;
        }

        .all-show-text {
            font-size: 12px;
        }
    }
}

swiper-container {


    swiper-slide {
        padding-left: 4px;


        .card {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            @media screen and (max-width: $tablet-size) {
                padding-bottom: 0px;
            }

            :not(:first-child) {
                margin-top: 10px;
            }

            .image {
                img {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }

            .card-bottom {
                padding-left: 3%;
                padding-right: 3%;

                .title {
                    font-size: 16px;
                }

                .price {
                    font-size: 14px;
                }


            }

            .btn {
                width: 100%;
                display: flex;
                justify-content: end;

                button {
                    border-radius: 4px;
                    width: 100%;
                    padding: 10px;
                    text-align: center;
                    color: $header-bg-color;
                    background-color: $header-bottom-bg;

                    @media screen and (max-width: $tablet-size) {
                        width: 100%;
                        font-size: 12px;
                        padding: 6px;
                    }
                }

            }
        }
    }
}