<div class="show-cases">
  <div class="show-case-title">
    <h4>{{data.showCaseTitle}}</h4>
    <div class="all-show-text"><a href="">{{ 'See All' |translate}}</a></div>
  </div>

  <swiper-container #swiper [zoom]="true" [slidesPerView]="glb.isMobil.value ? 2.5 : 5">
    <swiper-slide *ngFor="let product of data.showCaseProductList ">
      <div class="card">
        <div class="image">
          <img [src]="product.productModel.productPhotoList[0]?.productPhotoName" />
        </div>
        <div class="card-bottom">
          <div class="title">{{product.productModel.productName}}</div>
          <!-- <div class="price">{{product.productModel.productStock.productPrice}}</div> -->
        </div>
        <div class="btn"><button type="button">Detaya Git</button></div>

      </div>
    </swiper-slide>
  </swiper-container>
</div>