@import '../../../theme/variables.scss';

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    position: relative;
    color: black;
    height: 38px;
    width: 100%;

    .input {
        color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $header-bottom-bg;
        font-size: 12px;
        padding-left: 8px;
        padding-top: 12px;
    }

    .label {
        font-weight: bold;
        padding-top: 3px;
        padding-left: 8px;
        font-size: 9px;
        z-index: 1;
        color: black;
        position: absolute;
    }
}