@import '../../../../../../../../../theme/variables.scss';

ion-content {
    --offset-bottom: 0%;

    @media screen and (max-width:$tablet-size) {
        --offset-bottom: -8% !important;
    }
}

.table {
    margin-top: 10px;
    font-size: 14px;

    .table-row {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        &:nth-child(odd) {
            background-color: #efecec;
            color: black;

        }

        &:nth-child(even) {
            background-color: #fffaf6;
            color: black;


        }

        .spec-name {
            font-weight: 600;
        }

        .spec-option-name {}
    }
}

.empty-spefication {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px;
    text-align: center;
    background-color: #e2e2e2;
}