 @import '../../../theme/variables.scss';

 ion-toolbar {
     padding: 0px 4%;

     ion-title {
         text-align: center;
         font-size: 17px;

         @media screen and (max-width:$tablet-size) {
             font-size: 14px;
         }
     }

     @media screen and (max-width:$tablet-size) {
         padding: 0px 1%;
     }
 }


 .previousbtn {
     cursor: pointer;
     background-color: transparent;

     &::before {
         content: '<';
         color: #333;
         margin-right: 5px;
         font-size: 30px;
     }
 }

 ion-header {
     height: $header-hight;
 }

 a {
     text-decoration: none;
     color: white !important;
     font-size: 14px;
 }

 ion-menu {
     .ion-padding {
         .right-menu {
             display: flex;
             flex-direction: column;

             .link {
                 margin-top: 19px;


                 .sub-category-open {
                     color: white;
                     box-sizing: border-box;
                     padding: 0px 20px;
                     position: relative;
                     display: flex;
                     flex-direction: column;
                     height: auto;
                     flex-wrap: wrap;
                     overflow: hidden;
                 }

                 .sub-category-close {
                     display: none;
                 }

                 .sub-category {
                     margin-top: 10px;
                     font-size: 14px;
                     color: white;

                     a {
                         font-size: 14px;
                         color: white;

                         &:hover {
                             cursor: pointer;
                         }
                     }
                 }

                 a {
                     &::before {
                         content: '>';
                         color: white;
                         margin-right: 5px;
                     }

                     font-size: 14px;
                     padding: 3px;
                     width: 100%;

                     &:hover {}

                     &:active {}

                     &:focus {}
                 }
             }

         }
     }

 }