<ion-menu side="end" contentId="main-content" #menu>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{title | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="right-menu">
      @if(isAuth){
      <span class="link"><a routerLink="/home">{{'Home' | translate}}</a></span>
      <span class="link"><a routerLink="/product-list">{{'Product' | translate}}</a></span>
      <span class="link"><a routerLink="/brand-list">{{'Brand' | translate}}</a></span>
      <span class="link"><a routerLink="/specification-attribute-list">{{'Specification Attribute' |
          translate}}</a></span>
      <span class="link"><a routerLink="/slider-list">{{'Slider' |
          translate}}</a></span>
      <span class="link"><a routerLink="/category-list">{{'Category' |
          translate}}</a></span>
      <span class="link"><a routerLink="/page-list">{{'Page' |
          translate}}</a></span>
      <span class="link"><a routerLink="/mail-template-list">{{'Mail Template' |
          translate}}</a></span>
      <span class="link"><a routerLink="/showcase-list">{{'Showcase' | translate}}</a></span>
      <span class="link"><a href="#" (click)="logout()">{{'Logout' |
          translate}}</a></span>
      }
      @else {
      <span class="link"><a routerLink="/login">{{'Login' |
          translate}}</a></span>
      <span class="link"><a routerLink="/register">{{'Register' |
          translate}}</a></span>
      }


      <span class="link">
        <a (click)="showSubNodeCategory($event.currentTarget!)">{{(translateService.currentLang ||
          translateService.defaultLang).toUpperCase()}}</a>
        <div class="sub-category-list sub-category-close">
          <div class="sub-category" *ngFor="let language of languages">
            <a (click)="selectLanguage(language.code)">{{ language.name }}</a>
          </div>
        </div>
      </span>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{title | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start" *ngIf="this.backButton">
        <button class="previousbtn" (click)="routerNavigate()"></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>