@import '../../../theme/variables.scss';

.btn-custom-dark {
    font-size: 11px;
    font-family: Poppins;
    color: #fff;
    background-color: $theme-color-blue;
    border: 1px solid $theme-color-blue;
    padding: 6px;
    height: 100%;
    width: 100%;

    &:hover {
        background-color: lighten($color: $theme-color-blue, $amount: 10);
        border-color: $theme-color-blue;
    }
}